#**TEAM DETAILS**<br>
#**TEAM ID: PNT2022TMID23152**
<ul>
<li>Maya Jegadish P</li>
<li>Srivartshan M</li>
<li>Mohammed Abdul Qayyum M</li>
<li>Suriya A</li>
</ul>

#**Exercises**

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

What is 7 to the power of 4?

In [ ]:
7**4

2401

Split this string:

s = "Hi there Sam!"

into a list.

In [ ]:
s="Hi there Sam!"
X=s.split()
print(X)

['Hi', 'there', 'Sam!']

Given the variables:

planet = "Earth"
diameter = 12742

Use .format() to print the following string:

The diameter of Earth is 12742 kilometers.

In [ ]:
planet="Earth"
diameter=12742
print("The diameter of "+str(planet), "is",diameter,"kilometers.")

The diameter of Earth is 12742 kilometers.

Given this nested list, use indexing to grab the word "hello"

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
a=lst[3][1][2]
print(a)

['hello']

Given this nest dictionary grab the word "hello".

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
print(d['k1'][3]["tricky"][3]['target'][3])

hello

What is the main difference between a tuple and a list?

In [ ]:
#TUPLE
#Tuple is immutable.
#The items in tuples are surrounded by parentheses( ). 
#In tuple the implication of iterations is comparatively Faster.
#Tuples consumes less memory.

#LIST
#The items in lists are surrounded by square brackets [  ].
#Lists are mutable
#In list the implication of iterations is Time-consuming
#Lists consume more memory

Create a function that grabs the email website domain from a string in the form:

user@domain.com

So for example, passing "user@domain.com" would return: domain.com

In [ ]:
def domainGet(email):
    return email.split('@')[-1]

In [ ]:
domainGet('user@domain.com')

'domain.com'

Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization.

In [ ]:
def findDog(st):
    if 'dog' in st.lower():
        print("True")
    else:
        print("False")

st = "Is there a dog here?"
findDog(st)

True

In [ ]:
findDog('Is there a dog here?')

True

Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases.

In [ ]:
def countDog(st):
    count = 0
    for word in st.lower().split():
        if word == 'dog':
            count += 1
    return count

In [ ]:
countDog('This dog runs faster than the other dog dude!')

2

#**Problem**

You are driving a little too fast, and a police officer stops you. Write a function to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". If your speed is 60 or less, the result is "No Ticket". If speed is between 61 and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all cases.

In [ ]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [ ]:
caught_speeding(81,False)

'Big Ticket'

In [ ]:
caught_speeding(81,True)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees) and using a for loop retreive each employee salary and calculate total salary expenditure.

In [ ]:
employees = ["Hari", "Dinesh", "Sandeep", "Saravanan", "Naveen", "Guru"]    
salary={}
for emp in employees:
    try:
       amount=int(input(f'Enter salary for {emp}: '))
       salary[emp]=amount
    except ValueError:
       print(f'Wrong salary input for {emp} ')
print(salary)
print('Total Salary Expenditure ',sum(salary.values()))

Enter salary for Hari: 2500
Enter salary for Dinesh: 6200
Enter salary for Sandeep: 4500
Enter salary for Saravanan: 2000
Enter salary for Naveen: 3000
Enter salary for Guru: 4600
{'Hari': 2500, 'Dinesh': 6200, 'Sandeep': 4500, 'Saravanan': 2000, 'Naveen': 3000, 'Guru': 4600}
Total Salary Expenditure  22800

Create two dictionaries in Python:

First one to contain fields as Empid, Empname, Basicpay

Second dictionary to contain fields as DeptName, DeptId.

Combine both dictionaries.

In [ ]:
dic1 = {'Empid': 101, 'empname': 'Harikrishnan', 'Basicpay' : 200000 }
dic2 = {'DeptName': 'DEVELOPER','DeptId': 420, }

dic3 = {**dic1,**dic2}
print (dic3)

{'Empid': 101, 'empname': 'Harikrishnan', 'Basicpay': 200000, 'DeptName': 'DEVELOPER', 'DeptId': 420}